@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Pixelise";
    src: url("../fonts/Minecraft.ttf");
  } 
/*##########################################################*/
/*##########################################################*/
                /*----   Home.html   ----*/
/*##########################################################*/
/*##########################################################*/

/*les divs de la page*/
.parenthome{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.followers { grid-area: 1 / 11 / 13 / 13; }

/*.partenaires{
    background-image: url("../img/mainPage/Mail.png");

}*/


/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                            HOME.html                                                        #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */

.Player { grid-area: 1 / 5 / 6 / 11;}

.Profilepicture { grid-area: 1 / 1 / 6 / 5; }

.PPsportif{
    /*background-image: url("../img/characters/sportif/bbCourtBG.png");*/
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}


.Ethical { 
    grid-area: 6 / 1 / 13 / 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.EthicalSection { grid-area: 1 / 2 / 3 / 6; }

.Forest { grid-area: 3 / 1 / 9 / 4; 
    background-image: url("../img/mainPage/treecountermodulo8abasculeDclockfrontmontant.png");
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}
.TreeCountertitle { grid-area:  4 / 4 / 5 / 7; }
.Treecount { grid-area: 5 / 4 / 6 / 7; }

.Gauge{ grid-area: 6 / 4 / 11 / 7; 
    background-image: url("../img/mainPage/gauge.png");
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}

.BHGauge { grid-area:  9 / 1 / 10 / 4; }   


.Zonenavbarhome { 
    grid-area: 12 / 4 / 13 / 10; 
} 


.Navbarhome{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
} 
.boutonMail { grid-area: 1 / 1 / 2 / 2; 
    background-image: url("../img/mainPage/Mail.png");
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}
.boutonFreePlay { grid-area: 1 / 2 / 2 / 3;
    background-image: url("../img/mainPage/FreePlay.png");
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}
.boutonHome { grid-area: 1 / 3 / 2 / 4; 
    background-image: url("../img/mainPage/home.png");
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}
.boutonTreePlanter { grid-area: 1 / 4 / 2 / 5; 
    background-image: url("../img/mainPage/tree.png");
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
} 

.boutonBigHead { grid-area: 1 / 5 / 2 / 6;
    background-image: url("../img/mainPage/BigHead.png");
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}



/*.triangle-code{
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 150px solid red;
    border-right : 150px solid transparent;
}
*/

.Posts { 
    grid-area: 5 / 6 / 13 / 11;
}

.allPosts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
.Post1 { grid-area: 1 / 1 / 2 / 2; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
.Post2 { grid-area: 1 / 2 / 2 / 3; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
.Post3 { grid-area: 1 / 3 / 2 / 4; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}

.Post4 { grid-area: 2 / 1 / 3 / 2; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
.Post5 { grid-area: 2 / 2 / 3 / 3; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
.Post6 { grid-area: 2 / 3 / 3 / 4; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}

.Post7 { grid-area: 3 / 1 / 4 / 2; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}

.Post8 { grid-area: 3 / 2 / 4 / 3; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
.Post9 { grid-area: 3 / 3 / 4 / 4; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
   



/*modal post*/

.hoverclick:hover{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}


.popuppostgd { 
    grid-area: 2 / 3 / 12 / 11;
}


.parentpopuphome {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.popuppp { grid-area: 2 / 9 / 3 / 10; }
.popuppost { grid-area: 2 / 2 / 12 / 8; }
.popupclose { grid-area: 1 / 11 / 2 / 13; }
.popupblaze { grid-area: 2 / 10 / 3 / 12; }
.popupdescription { grid-area: 3 / 9 / 5 / 12; }
.popupcommentaire { grid-area: 8 / 9 / 12 / 12; } 



/*commentaire des posts*/

.parentcommentairespost {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    /*.div1 { grid-area: 1 / 1 / 21 / 3; } */
    .bg1 {grid-area: 1 / 1/ 4 / 3;
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.3)
     }
    .titre1 { grid-area: 1 / 1 / 2 / 2; }
    .com1 { grid-area: 2 / 1 / 4 / 3; }

    .bg2 {grid-area: 5 / 1/ 8 / 3; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.3);
    }
    .titre2 { grid-area: 5 / 1 / 6 / 2; }
    .com2 { grid-area: 6 / 1 / 7 / 3; }

   

    /*pop up grosse tete*/

    .popupgrossetetegd{
        grid-area: 2 / 3 / 12 / 11;
    }
    

    .parentpopupgrossetete {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .grossetetejauge { grid-area: 3 / 1 / 8 / 7; 
            background-image: url("../img/mainPage/gauge/gauge1.png" );
            background-size : contain;
            background-repeat : no-repeat;
            background-position: center;
        }
        .grossetetetitre { grid-area: 2 / 2 / 3 / 10; }
        .grossetetecommentaire { grid-area: 3 / 7 / 6 / 10; }
        .grossetetecontinuer { grid-area: 7 / 7 / 8 / 10; }     
        .popupgrosseteteclose { grid-area: 1 / 10 / 2 / 11; }


/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                            FREEPLAY.html                                                    #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */


   .parentfp {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    /*contours */
    .div1fp { grid-area: 1 / 1 / 2 / 25; }
    .div2fp { grid-area: 1 / 1 / 25 / 2; }
    .div3fp { grid-area: 24 / 1 / 25 / 25; }
    .div4fp { grid-area: 1 / 24 / 25 / 25; }
    
    /*grille */
    .div6fp { grid-area: 3 / 3 / 9 / 9;}
    .div7fp { grid-area: 3 /10 / 9 / 16;}
    .div8fp { grid-area: 3 / 17 / 9 / 23; }

    .div9fp { grid-area: 10 / 3 / 16 / 9; }
    .div10fp { grid-area: 10 / 10 / 16 / 16; }
    .div11fp { grid-area: 10 / 17 / 16 / 23; }

    .div12fp { grid-area: 17 / 6 / 23 / 12; }
    .div13fp { grid-area: 17 / 14 / 23 / 20; }

    .div15fp { grid-area: 1 / 8 / 3 / 18; } 
    .Zonenavbarhome2 { grid-area: 23 / 6 / 25 / 20; }

    .div15fp h1{
        font-size: 65px;
    }
    

    .tortue{
        background-image: url("../img/freeplay/turtle_play.PNG" );
        background-size: cover;
        background-repeat: no-repeat;
    } 

    .bigheat{
        background-image: url("../img/freeplay/big_head.PNG" );
        background-size: cover;
        background-repeat: no-repeat;
    }

    .maze{
        background-image: url("../img/freeplay/maze.png" );
        background-size: cover;
        background-repeat: no-repeat;
    }

    .supermarche{
        background-image: url("../img/freeplay/supermarket.png" );
        background-size: cover;
        background-repeat: no-repeat;
    }

    .click:hover{
        cursor:pointer;
    }

    .grostext{        
        font-size: 30px;
    }


    /* modal */

    .modalin {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .modalgif { grid-area: 2 / 1 / 12 / 8; }
        .modalplay { grid-area: 10 / 9 / 12 / 13; }
        .modaltitre { grid-area: 2 / 9 / 4 / 13; } 
        .modaldescription { grid-area: 5 / 9 / 9 / 13; }
    .modaltour{   
        grid-area: 5 / 5 / 21 / 21; 
    }
    
    .petitmodal{     
        grid-area: 6 / 6 / 20 / 20;  
    }

    



    .close {
        color: #aaaaaa;
        float: right;
        font-size: 50px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                         ACCUEIL.html                                                        #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */


.parent3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div21 { grid-area: 1 / 1 / 13 / 2; }
.div22 { grid-area: 12 / 1 / 13 / 13; }
.div23 { grid-area: 1 / 12 / 13 / 13; }
.div24 { grid-area: 1 / 1 / 2 / 13; }
.div25 { grid-area: 9 / 3 / 11 / 5; }
.div26 { grid-area: 9 / 6 / 11 / 8; }
.div27 { grid-area: 9 / 9 / 11 / 11; }
.div28 { grid-area: 4 / 4 / 7 / 10; } 


.div28 h1{
    font-size: 7rem;
}

.div25 h1, .div26 h1, .div27 h1{
    height: 100%;
}

/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                            JOB-APPEARANCE.html                                              #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */



.globalJA {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.ChoiceQ { grid-area: 1 / 1 / 2 / 13; }

.choice1 { grid-area: 2 / 1 / 12 / 4; }
.choice1c6 { grid-area: 2 / 1 / 7 / 5; } 


.choice2 { grid-area: 2 / 4 / 12 / 7; }
.choice2c6 { grid-area: 2 / 5 / 7 / 9; }


.choice3 { grid-area: 2 / 7 / 12 / 10; }
.choice3c6 { grid-area: 2 / 9 / 7 / 13; }

.choice4 { grid-area: 2 / 10 / 12 / 13; }
.choice4c6 { grid-area: 7 / 1 / 12 / 5; }

.choice5 { grid-area: 7 / 5 / 12 / 9; }
.choice6 { grid-area: 7 / 9 / 12 / 13; } 

.navbarJA { grid-area: 12 / 4 / 13 / 10; }


.athletes{
    background-image: url("../img/characters/sportif/sportifs.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

.whiteGuyAthlete{
    background-image: url("../img/characters/sportif/sportifW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.blackGuyAthlete{
    background-image: url("../img/characters/sportif/sportifB.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.yellowGuyAthlete{
    background-image: url("../img/characters/sportif/sportifY.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
    
}
.whiteWomenAthlete{
    background-image: url("../img/characters/sportif/sportiveW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.blackWomenAthlete{
    background-image: url("../img/characters/sportif/sportiveB.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.yellowWomenAthlete{
    background-image: url("../img/characters/sportif/sportiveY.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

.comedians{
    background-image: url("../img/characters/comedian/Comedians.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

.whiteGuyComedian{
    background-image: url("../img/characters/comedian/comedianWG.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.blackGuyComedian{
    background-image: url("../img/characters/comedian/comedianBG.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.yellowGuyComedian{
    background-image: url("../img/characters/comedian/comedianYG.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
    
}
.whiteWomenComedian{
    background-image: url("../img/characters/comedian/comedianWW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.blackWomenComedian{
    background-image: url("../img/characters/comedian/comedianBW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.yellowWomenComedian{
    background-image: url("../img/characters/comedian/comedianYW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                            FORM.html                                                        #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */


.parentform {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
    .div111 { grid-area: 1 / 1 / 13 / 2; }
    .div112 { grid-area: 12 / 1 / 13 / 13; }
    .div113 { grid-area: 1 / 12 / 13 / 13; }
    .div114 { grid-area: 1 / 1 / 2 / 13; }
    .divbox { grid-area: 3 / 4 / 11 / 10; }
    .divtitre { grid-area: 2 / 5 / 4 / 9; }
    .divpp { grid-area: 5 / 4 / 10 / 7; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position : center;
    
    }
    .divname { grid-area: 5 / 7 / 6 / 10; }
    .divdesc { grid-area: 6 / 7 / 9 / 10; }
    .divadj { grid-area: 9 / 7 / 11 / 10; } 
    .divbtn { grid-area: 11 / 6 / 12 / 8; } 



/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                               ATHLETE.html                                                  #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */

.globaldivathletehtml{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.QuestionChoice { grid-area: 1 / 3 / 3 / 11; }
.NavBarChoicePage { grid-area: 12 / 4 / 13 / 10; }
.zoneDesReponses { grid-area: 3 / 1 / 11 / 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}
.choice1in4 { grid-area: 1 / 1 / 5 / 7; }
.choice2in4 { grid-area: 1 / 7 / 5 / 13; }
.choice3in4 { grid-area: 5 / 1 / 9 / 7; }
.choice4in4 { grid-area: 5 / 7 / 9 / 13; } 
/*
.macLessgoch{ grid-area: 1 / 1 / 9 / 13};*/
.choicenum1c4 { grid-area: 1 / 1 / 5 / 7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}/*
.choicenum1c4photo{
    grid-area: 1 / 1 / 10 / 8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
.choicenum1c4text{
    grid-area: 1 / 8 / 10 / 17;
}*/

.choicenum2c4 { grid-area: 1 / 7 / 5 / 13;}



.choicenum1 { grid-area: 1 / 1 / 9 / 5; }
.choicenum2 { grid-area: 1 / 5 / 9 / 9; }
.choicenum3 { grid-area: 1 / 9 / 9 / 13; }
.choicenum4 { grid-area: 5 / 7 / 9 / 13;}

/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                              COMEDIAN.html                                                  #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */

.MLphoto { grid-area: 1 / 1 / 9 / 5; }

.MLtext { 
    grid-area: 1 / 5 / 7 / 13;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(26, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.BcoinTR { grid-area: 2 / 38 / 4 / 40; }
.BcoinTL { grid-area: 2 / 2 / 4 / 4; }
.BcoinBR { grid-area: 21 / 38 / 23 / 40; }
.BcoinBL { grid-area: 21 / 2 / 23 / 4; }

.BcoteL { grid-area: 4 / 1 / 21 / 2; }
.BcoteR { grid-area: 4 / 40 / 21 / 41; }
.BcoteT { grid-area: 1 / 4 / 2 / 38; }
.BcoteB { grid-area: 23 / 7 / 24 / 38; }

.BWT { grid-area: 2 / 4 / 5 / 38;}
.BWB { grid-area: 20 / 4 / 23 / 38;}

.BWL { grid-area: 4 / 2 / 21 / 4;}
.BWR { grid-area: 4 / 38 / 21 / 40;}


.BO1 { grid-area: 23 / 6 / 26 / 8; }
.BO2 { grid-area: 26 / 6 / 27 / 7; }
.BO3 { grid-area: 23 / 8 / 25 / 9; }
.BO4 {grid-area: 23/4/24/6;}
.BO5 { grid-area: 23/7/24/8;}

.Btext { grid-area: 4/ 4 / 21 / 38; }

.btnML { grid-area: 7 / 5 / 9 / 13; }


.imageboutontest4c{
    grid-area: 1 / 1 / 10 / 15;
    /*background-image: url("../img/mainPage/treecountermodulo8abasculeDclockfrontmontant.png");*/
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}

.rempliladivtest{
    grid-area: 1/1/9/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.boutonpourtesterpostettext{
    display: grid;
    grid-template-columns: repeat(29, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.testtextboutontest{
    grid-area: 1 / 15  / 10 / 30;
}

.choicexin4struct{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.choicexin4photo{
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
}
.choicexin3photo{
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
}
    

/*.btntestML{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.photobtntest{
    background-image: url("../img/mainPage/treecountermodulo8abasculeDclockfrontmontant.png" );
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}*/


/* DEMO-SPECIFIC STYLES */

/*
.bodyathlete{
    padding:0;
    margin : 0;
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

.containercg{
    box-shadow: 0 0 10px 2px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px
}



.btn-grid{
    display:grid;
    grid-template-columns:repeat(2,auto);
    gap:10px;
    margin-top:20px;
}


.btn{
    background-color:hsl(200, 100%, 50%);
    border : 1px solid hsl(200, 100%, 30%);
    border-radius : 5px;
    padding: 5px 5px;
    color:white;
    outline: none;
}

.btn:hover{
    border-color: black;
}*/

.portfolio-experiment {
    background: #ffffffff;
  }
  .portfolio-experiment button {
    padding-top: 0.7em calc(4em * 1.2);
    padding-right: 1em;
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 0.07em;
  }
  .portfolio-experiment button .texte {
    font-family: proxima-nova, monospace;
    display:block;
    transform: translate3d(0, 0.7em, 0);
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  .portfolio-experiment button:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 5px;
    background: #911C1A;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
  }
  .portfolio-experiment .line {
    position: absolute;
    background: #911C1A;
  }
  .portfolio-experiment .line.-right, .portfolio-experiment .line.-left {
    width: 5px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
  }
  .portfolio-experiment .line.-top, .portfolio-experiment .line.-bottom {
    height: 5px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
  }
  .portfolio-experiment .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
  }
  .portfolio-experiment .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
  }
  .portfolio-experiment .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
  }
  .portfolio-experiment .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
  }
  .portfolio-experiment button:hover .texte, .portfolio-experiment button:active .texte {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  .portfolio-experiment button:hover:after, .portfolio-experiment button:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
  }
  .portfolio-experiment button:hover .line, .portfolio-experiment button:active .line {
    transform: scale3d(1, 1, 1);
  }
  .portfolio-experiment button:hover .line.-right, .portfolio-experiment button:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
  }
  .portfolio-experiment button:hover .line.-top, .portfolio-experiment button:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
  }
  .portfolio-experiment button:hover .line.-left, .portfolio-experiment button:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
  }
  .portfolio-experiment button:hover .line.-bottom, .portfolio-experiment button:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
  }


@keyframes rotate {
    100% {
        transform: rotate(1turn);
   }
}
.rainbow {
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
}
.rainbow::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -473%;
    width: 200%;
    height: 1050%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#303030, #303030), linear-gradient(#c4b39c,#c4b39c),linear-gradient(#303030, #303030),  linear-gradient(#c4b39c, #c4b39c);
    animation: rotate 20s linear infinite;
}
.rainbow::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
}




/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                     TURTLESAVER.html                                                        #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */


   .arrow{
    background-image: url("../img/freeplay/arrow.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
       
   }
   .divtortue{
       grid-area: 4 / 4 / 22 / 22;
    }


    .divretourfree{
        grid-area: 22 / 1 / 25 / 4;
    }

    .modaltortuewin{
        grid-area: 8 / 10 / 18 / 16 ;
    }
    
    .modaltortueloose{
        grid-area: 8 / 10 / 18 / 16 ;
    }
    
    .modaltortueloosetime{
        grid-area: 8 / 10 / 18 / 16 ;
    }

    
    
    
    .modaltortueinfo{
        grid-area: 6 / 7 / 20 / 19 ;
    }
    
    .modalinfoparent {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
        
    .modalinfoparenttitre { grid-area: 1 / 4 / 3 / 10; }
    .modalinfoparentprofessor { grid-area: 3 / 1 / 12 / 6; }
    .modalinfoparentblabla { grid-area: 3 / 5 / 10 / 12; }
    .modalinfoparentbtn { grid-area: 11 / 8 / 13 / 12; }

    .professor{
        background-image: url("../img/characters/scientist/scientistLight.png" );
        background-size: contain;
        background-repeat: no-repeat;
        background-position : center;
    }
        

.modaltortuewin{
    display:none;
}

.modaltortueloose{
    display:none;
}
.modaltortueloosetime{
    display:none;
}
.modaltortueinfo{
    display: none;
}





/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                        MAZE.html                                                            #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */



.modalmazewin{
    display:none;
}

.modalmazeloose{
    display:none;
}

.modalmazeinfo{
    display:none;
}

.modalmazewin{
    grid-area: 8 / 10 / 18 / 16 ;
}

.modalmazeloose{
    grid-area: 8 / 10 / 18 / 16 ;
}

.modalmazeinfo{
    grid-area: 6 / 7 / 20 / 19 ;    
    
}




/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                        big head.html                                                        #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */



.modalbhwin{
    display:none;
}

.modalbhloose{
    display:none;
}

.modalbhinfo{
    display:none;
}

.modalbhwin{
    grid-area: 8 / 10 / 18 / 16 ;
}

.modalbhloose{
    grid-area: 8 / 10 / 18 / 16 ;
}

.modalbhinfo{
    grid-area: 6 / 7 / 20 / 19 ;    
    
}

/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                        cartes.html                                                          #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */

   .parentdelachance {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .contoursChance { grid-area: 1 / 1 / 21 / 21; }
    .titrechance { grid-area: 1 / 6 / 4 / 16; } 
    .cartesChanceChoix { grid-area: 4 / 2 / 15 / 20; }
    .validerChance { grid-area: 16 / 9 / 18 / 13; }


.card1-container, .card2-container, .card3-container, .card4-container, .card5-container {
    position: relative;
    /*height: 400px;
    width: 240px;*/
}
/*.card-container:hover .card {
    transform: rotateY(180deg);
}*/
.card1, .card2, .card3, .card4, .card5 {
    position: absolute;
    height: 100%;
    width: 100%;
    /*transition: all 0.3s ease;
    transform-style: preserve-3d;*/
}
.card1-front, .card2-front, .card3-front, .card4-front, .card5-front {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.card1-back, .card2-back, .card3-back, .card4-back, .card5-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: skyblue;
    backface-visibility: hidden;
    /*transform: rotateY(-180deg);*/
    background-image : url("../img/cartes/pointInterrogation.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

.cartesChanceChoix {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .cartes1ChanceChoix { grid-area: 3 / 1 / 15 / 5; }
    .cartes2ChanceChoix { grid-area: 3 / 6 / 15 / 10; }
    .cartes3ChanceChoix { grid-area: 3 / 11 / 15 / 15; }
    .cartes4ChanceChoix { grid-area: 3 / 16 / 15 / 20; }
    .cartes5ChanceChoix { grid-area: 3 / 21 / 15 / 25; } 
