@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}
@font-face {
    font-family: "Pixelise";
    src: url("../fonts/Minecraft.ttf");
  } 






.loader{
    grid-area: 1 / 1 / 13 / 13;
    width:100%;
    height:100%;
    background: #000;
    display :flex;
    justify-content: center;
    align-items: center;
}

.lettre {
    color: #909090;
    font-size:120px;
    font: Pixelise;
    letter-spacing: 20px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}

@keyframes flash{
    0%{
        color: #911C1a;
        text-shadow: 0 0 7px #911C1a;
    }
    90%{
        color: #909090;
        text-shadow: none;
    }
    100%{
        color: #911C1a;
        text-shadow: 0 0 7px #911C1a;
    }
}

.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}

.fondu-out{
    opacity:0;
    transition: opacity 0,4s ease-out;
    display:none;
}


/*##########################################################*/
/*##########################################################*/
                /*----   Home.html   ----*/
/*##########################################################*/
/*##########################################################*/

/*les divs de la page*/
.parenthome{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.followers { grid-area: 1 / 11 / 13 / 13; }

/*.partenaires{
    background-image: url("../img/mainPage/Mail.png");

}*/


/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                            HOME.html                                                        #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */

.Player { grid-area: 1 / 5 / 6 / 11;}

.Profilepicture { grid-area: 1 / 1 / 6 / 5; }

.PPsportif{
    /*background-image: url("../img/characters/sportif/bbCourtBG.png");*/
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}


.Ethical { 
    grid-area: 6 / 1 / 13 / 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.EthicalSection { grid-area: 1 / 2 / 3 / 6; }

.Forest { grid-area: 3 / 1 / 9 / 4; 
    background-image: url("../img/mainPage/treecountermodulo8abasculeDclockfrontmontant.png");
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}
.TreeCountertitle { grid-area:  4 / 4 / 5 / 7; }
.Treecount { grid-area: 5 / 4 / 6 / 7; }

.Gauge{ grid-area: 6 / 4 / 11 / 7; 
    background-image: url("../img/mainPage/gauge.png");
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}

.BHGauge { grid-area:  9 / 1 / 10 / 4; }   


.Zonenavbarhome { 
    grid-area: 12 / 4 / 13 / 10; 
} 

.cartechance { 
    grid-area: 2 / 10 / 3 / 11; 
    background-image : url("../img/cartes/cartes.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
} 

.cartechanceNotif { 
    grid-area: 2 / 10 / 3 / 11; 
    background-image : url("../img/cartes/cartesNotif.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
} 



.Navbarhome{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
} 
.boutonMail { grid-area: 1 / 1 / 2 / 2; 
    background-image: url("../img/mainPage/bulle.png");
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}
.boutonFreePlay { grid-area: 1 / 2 / 2 / 3;
    background-image: url("../img/mainPage/FreePlay.png");
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}
.boutonHome { grid-area: 1 / 3 / 2 / 4; 
    background-image: url("../img/mainPage/home.png");
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}
.boutonTreePlanter { grid-area: 1 / 4 / 2 / 5; 
    /*background-image: url("../img/mainPage/tree.png");*/
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
} 

.boutonBigHead { grid-area: 1 / 5 / 2 / 6;
    background-image: url("../img/mainPage/BigHead.png");
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}



/*.triangle-code{
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 150px solid red;
    border-right : 150px solid transparent;
}
*/

.Posts { 
    grid-area: 5 / 6 / 13 / 11;
}

.allPosts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
.Post1 { grid-area: 1 / 1 / 2 / 2; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
.Post2 { grid-area: 1 / 2 / 2 / 3; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
.Post3 { grid-area: 1 / 3 / 2 / 4; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}

.Post4 { grid-area: 2 / 1 / 3 / 2; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
.Post5 { grid-area: 2 / 2 / 3 / 3; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
.Post6 { grid-area: 2 / 3 / 3 / 4; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}

.Post7 { grid-area: 3 / 1 / 4 / 2; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}

.Post8 { grid-area: 3 / 2 / 4 / 3; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
.Post9 { grid-area: 3 / 3 / 4 / 4; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
   



/*modal post*/

.hoverclick:hover{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}


.popuppostgd { 
    grid-area: 2 / 3 / 12 / 11;
}


.parentpopuphome {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.popuppp { grid-area: 2 / 9 / 3 / 10; }
.popuppost { grid-area: 2 / 2 / 12 / 8; }
.popupclose { grid-area: 1 / 11 / 2 / 13; }
.popupblaze { grid-area: 2 / 10 / 3 / 12; }
.popupdescription { grid-area: 3 / 9 / 5 / 12; }
.popupcommentaire { grid-area: 8 / 9 / 12 / 12; } 



/*commentaire des posts*/

.parentcommentairespost {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    /*.div1 { grid-area: 1 / 1 / 21 / 3; } */
    .bg1 {grid-area: 1 / 1/ 4 / 3;
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.3)
     }
    .titre1 { grid-area: 1 / 1 / 2 / 2; }
    .com1 { grid-area: 2 / 1 / 4 / 3; }

    .bg2 {grid-area: 5 / 1/ 8 / 3; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.3);
    }
    .titre2 { grid-area: 5 / 1 / 6 / 2; }
    .com2 { grid-area: 6 / 1 / 7 / 3; }

   

    /*pop up grosse tete*/

    .popupgrossetetegd{
        grid-area: 2 / 3 / 12 / 11;
    }
    

    .parentpopupgrossetete {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .grossetetejauge { grid-area: 3 / 1 / 8 / 7; 
            background-image: url("../img/mainPage/gauge/gauge1.png" );
            background-size : contain;
            background-repeat : no-repeat;
            background-position: center;
        }
        .grossetetetitre { grid-area: 2 / 2 / 3 / 10; }
        .grossetetecommentaire { grid-area: 3 / 7 / 6 / 10; }
        .grossetetecontinuer { grid-area: 7 / 7 / 8 / 10; }     
        .popupgrosseteteclose { grid-area: 1 / 10 / 2 / 11; }


        /*pop up message*/

        .popupMessenger{
            grid-area: 2 / 2 / 12 / 7 ;
        }

        .parentMessenger{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(16, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }

        .messageEntrant{
            padding: 20px;
            background-color: red;
            margin: 5px;
            text-align: left;
            margin-right: 30%;
            border-radius: 20px
        }
        .messageSortant{
            padding: 20px;
            background-color: green;
            margin: 5px;
            text-align: right;
            margin-left: 30%;
            border-radius: 20px
        }

        .messageTetesPerso { 
            grid-area: 1 / 1 / 12 / 2; 
        }

        .messages { 
            grid-area: 1 / 1 / 12 / 7; 
        }
        
        .choixMessages { 
            grid-area: 12 / 1 / 17 / 6; 
        }

        .envoyerMessage { 
            grid-area: 12 / 6 / 17 / 7; 
            background-image: url("../img/mainPage/dm/fleche.png");
            background-size : contain;
            background-repeat : no-repeat;
            background-position: center;
        } 



    


/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                            FREEPLAY.html                                                    #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */


   .parentfp {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    /*contours */
    .div1fp { grid-area: 1 / 1 / 2 / 25; }
    .div2fp { grid-area: 1 / 1 / 25 / 2; }
    .div3fp { grid-area: 24 / 1 / 25 / 25; }
    .div4fp { grid-area: 1 / 24 / 25 / 25; }
    
    /*grille */
    .div6fp { grid-area: 3 / 3 / 9 / 9;}
    .div7fp { grid-area: 3 /10 / 9 / 16;}
    .div8fp { grid-area: 3 / 17 / 9 / 23; }

    .div9fp { grid-area: 10 / 3 / 16 / 9; }
    .div10fp { grid-area: 10 / 10 / 16 / 16; }
    .div11fp { grid-area: 10 / 17 / 16 / 23; }

    .div12fp { grid-area: 17 / 6 / 23 / 12; }
    .div13fp { grid-area: 17 / 14 / 23 / 20; }

    .div15fp { grid-area: 1 / 8 / 3 / 18; } 
    .Zonenavbarhome2 { grid-area: 23 / 6 / 25 / 20; }

    .div15fp h1{
        font-size: 65px;
    }
    

    .tortue{
        background-image: url("../img/freeplay/turtle-saver.png" );
        background-size: cover;
        background-repeat: no-repeat;
    } 

    .bigheat{
        background-image: url("../img/freeplay/big_head.PNG" );
        background-size: cover;
        background-repeat: no-repeat;
    }

    .maze{
        background-image: url("../img/freeplay/maze.png" );
        background-size: cover;
        background-repeat: no-repeat;
    }

    .supermarche{
        background-image: url("../img/freeplay/supermarket.png" );
        background-size: cover;
        background-repeat: no-repeat;
    }

    .treeplanter{
        background-image: url("../img/freeplay/tree-planter.png" );
        background-size: cover;
        background-repeat: no-repeat;
    }

    .fakeinvaders{
        background-image: url("../img/freeplay/fake-invaders.png" );
        background-size: cover;
        background-repeat: no-repeat;
    }

    .click:hover{
        cursor:pointer;
    }

    .grostext{        
        font-size: 30px;
    }


    /* modal */

    .modalin {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .modalgif { grid-area: 2 / 1 / 12 / 8; }
        .modalplay { grid-area: 10 / 9 / 12 / 13; }
        .modaltitre { grid-area: 2 / 9 / 4 / 13; } 
        .modaldescription { grid-area: 5 / 9 / 9 / 13; }
    .modaltour{   
        grid-area: 5 / 5 / 21 / 21; 
    }
    
    .petitmodal{     
        grid-area: 6 / 6 / 20 / 20;  
    }

    



    .close {
        color: #aaaaaa;
        float: right;
        font-size: 50px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                         ACCUEIL.html                                                        #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */


.parent3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div21 { grid-area: 1 / 1 / 13 / 2; }
.div22 { grid-area: 12 / 1 / 13 / 13; }
.div23 { grid-area: 1 / 12 / 13 / 13; }
.div24 { grid-area: 1 / 1 / 2 / 13; }
.div25 { grid-area: 9 / 3 / 11 / 5; }
.div26 { grid-area: 9 / 6 / 11 / 8; }
.div27 { grid-area: 9 / 9 / 11 / 11; }
.div28 { grid-area: 4 / 4 / 7 / 10; } 


.div28 h1{
    font-size: 7rem;
}

.div25 h1, .div26 h1, .div27 h1{
    height: 100%;
}

/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                            JOB-APPEARANCE.html                                              #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */



.globalJA {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.ChoiceQ { grid-area: 1 / 1 / 2 / 13; }

.choice1 { grid-area: 2 / 1 / 12 / 4; }
.choice1c6 { grid-area: 2 / 1 / 7 / 5; } 


.choice2 { grid-area: 2 / 4 / 12 / 7; }
.choice2c6 { grid-area: 2 / 5 / 7 / 9; }


.choice3 { grid-area: 2 / 7 / 12 / 10; }
.choice3c6 { grid-area: 2 / 9 / 7 / 13; }

.choice4 { grid-area: 2 / 10 / 12 / 13; }
.choice4c6 { grid-area: 7 / 1 / 12 / 5; }

.choice5 { grid-area: 7 / 5 / 12 / 9; }
.choice6 { grid-area: 7 / 9 / 12 / 13; } 

.navbarJA { grid-area: 12 / 4 / 13 / 10; }


.athletes{
    background-image: url("../img/characters/sportif/sportifs.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

.whiteGuyAthlete{
    background-image: url("../img/characters/sportif/sportifW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.blackGuyAthlete{
    background-image: url("../img/characters/sportif/sportifB.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.yellowGuyAthlete{
    background-image: url("../img/characters/sportif/sportifY.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
    
}
.whiteWomenAthlete{
    background-image: url("../img/characters/sportif/sportiveW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.blackWomenAthlete{
    background-image: url("../img/characters/sportif/sportiveB.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.yellowWomenAthlete{
    background-image: url("../img/characters/sportif/sportiveY.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

.comedians{
    background-image: url("../img/characters/comedian/Comedians.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

.chiefs{
    background-image: url("../img/characters/chief/chefs.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

.gamers{
    background-image: url("../img/characters/tech/tech.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

.whiteGuyComedian{
    background-image: url("../img/characters/comedian/comedianWG.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.blackGuyComedian{
    background-image: url("../img/characters/comedian/comedianBG.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.yellowGuyComedian{
    background-image: url("../img/characters/comedian/comedianYG.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
    
}
.whiteWomenComedian{
    background-image: url("../img/characters/comedian/comedianWW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.blackWomenComedian{
    background-image: url("../img/characters/comedian/comedianBW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.yellowWomenComedian{
    background-image: url("../img/characters/comedian/comedianYW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}


.whiteGuyChief{
    background-image: url("../img/characters/chief/chefWG.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.blackGuyChief{
    background-image: url("../img/characters/chief/chefBG.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.yellowGuyChief{
    background-image: url("../img/characters/chief/chefYG.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
    
}
.whiteWomenChief{
    background-image: url("../img/characters/chief/chefWW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.blackWomenChief{
    background-image: url("../img/characters/chief/chefBW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.yellowWomenChief{
    background-image: url("../img/characters/chief/chefYW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}


.whiteGuyTech{
    background-image: url("../img/characters/tech/gamerWG.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.blackGuyTech{
    background-image: url("../img/characters/tech/gamerBG.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.yellowGuyTech{
    background-image: url("../img/characters/tech/gamerYG.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
    
}
.whiteWomenTech{
    background-image: url("../img/characters/tech/gamerWW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.blackWomenTech{
    background-image: url("../img/characters/tech/gamerBW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
.yellowWomenTech{
    background-image: url("../img/characters/tech/gamerYW.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                            FORM.html                                                        #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */


.parentform {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
    .div111 { grid-area: 1 / 1 / 13 / 2; }
    .div112 { grid-area: 12 / 1 / 13 / 13; }
    .div113 { grid-area: 1 / 12 / 13 / 13; }
    .div114 { grid-area: 1 / 1 / 2 / 13; }
    .divbox { grid-area: 3 / 4 / 11 / 10; }
    .divtitre { grid-area: 2 / 5 / 4 / 9; }
    .divpp { grid-area: 5 / 4 / 10 / 7; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position : center;
    
    }
    .divname { grid-area: 5 / 7 / 6 / 10; }
    .divdesc { grid-area: 6 / 7 / 9 / 10; }
    .divadj { grid-area: 9 / 7 / 11 / 10; } 
    .divbtn { grid-area: 11 / 6 / 12 / 8; } 



/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                               ATHLETE.html                                                  #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */

.globaldivathletehtml{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.QuestionChoice { grid-area: 1 / 3 / 3 / 11; }
.NavBarChoicePage { grid-area: 12 / 4 / 13 / 10; }
.zoneDesReponses { grid-area: 3 / 1 / 11 / 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}
.choice1in4 { grid-area: 1 / 1 / 5 / 7; }
.choice2in4 { grid-area: 1 / 7 / 5 / 13; }
.choice3in4 { grid-area: 5 / 1 / 9 / 7; }
.choice4in4 { grid-area: 5 / 7 / 9 / 13; } 
/*
.macLessgoch{ grid-area: 1 / 1 / 9 / 13};*/
.choicenum1c4 { grid-area: 1 / 1 / 5 / 7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}/*
.choicenum1c4photo{
    grid-area: 1 / 1 / 10 / 8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}
.choicenum1c4text{
    grid-area: 1 / 8 / 10 / 17;
}*/

.choicenum2c4 { grid-area: 1 / 7 / 5 / 13;}



.choicenum1 { grid-area: 1 / 1 / 9 / 5; }
.choicenum2 { grid-area: 1 / 5 / 9 / 9; }
.choicenum3 { grid-area: 1 / 9 / 9 / 13; }
.choicenum4 { grid-area: 5 / 7 / 9 / 13;}

/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                              COMEDIAN.html                                                  #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */

.MLphoto { grid-area: 1 / 1 / 9 / 5; }

.MLtext { 
    grid-area: 1 / 5 / 7 / 13;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(26, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.BcoinTR { grid-area: 2 / 38 / 4 / 40; }
.BcoinTL { grid-area: 2 / 2 / 4 / 4; }
.BcoinBR { grid-area: 21 / 38 / 23 / 40; }
.BcoinBL { grid-area: 21 / 2 / 23 / 4; }

.BcoteL { grid-area: 4 / 1 / 21 / 2; }
.BcoteR { grid-area: 4 / 40 / 21 / 41; }
.BcoteT { grid-area: 1 / 4 / 2 / 38; }
.BcoteB { grid-area: 23 / 7 / 24 / 38; }

.BWT { grid-area: 2 / 4 / 5 / 38;}
.BWB { grid-area: 20 / 4 / 23 / 38;}

.BWL { grid-area: 4 / 2 / 21 / 4;}
.BWR { grid-area: 4 / 38 / 21 / 40;}


.BO1 { grid-area: 23 / 6 / 26 / 8; }
.BO2 { grid-area: 26 / 6 / 27 / 7; }
.BO3 { grid-area: 23 / 8 / 25 / 9; }
.BO4 {grid-area: 23/4/24/6;}
.BO5 { grid-area: 23/7/24/8;}

.Btext { grid-area: 4/ 4 / 21 / 38; }

.btnML { grid-area: 7 / 5 / 9 / 13; }

.btnML1{ grid-area : 7 / 5 / 9 / 9 ;}
.btnML2{ grid-area : 7 / 9 / 9 / 13 ;}


.imageboutontest4c{
    grid-area: 1 / 1 / 10 / 15;
    /*background-image: url("../img/mainPage/treecountermodulo8abasculeDclockfrontmontant.png");*/
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}

.rempliladivtest{
    grid-area: 1/1/9/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.boutonpourtesterpostettext{
    display: grid;
    grid-template-columns: repeat(29, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.testtextboutontest{
    grid-area: 1 / 15  / 10 / 30;
}

.choicexin4struct{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.choicexin4photo{
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
}
.choicexin3photo{
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
}
    

/*.btntestML{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.photobtntest{
    background-image: url("../img/mainPage/treecountermodulo8abasculeDclockfrontmontant.png" );
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}*/


/* DEMO-SPECIFIC STYLES */

/*
.bodyathlete{
    padding:0;
    margin : 0;
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

.containercg{
    box-shadow: 0 0 10px 2px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px
}



.btn-grid{
    display:grid;
    grid-template-columns:repeat(2,auto);
    gap:10px;
    margin-top:20px;
}


.btn{
    background-color:hsl(200, 100%, 50%);
    border : 1px solid hsl(200, 100%, 30%);
    border-radius : 5px;
    padding: 5px 5px;
    color:white;
    outline: none;
}

.btn:hover{
    border-color: black;
}*/

.portfolio-experiment {
    background: #ffffffff;
  }
  .portfolio-experiment button {
    padding-top: 0.7em calc(4em * 1.2);
    padding-right: 1em;
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 0.07em;
  }
  .portfolio-experiment button .texte {
    font-family: proxima-nova, monospace;
    display:block;
    transform: translate3d(0, 0.7em, 0);
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  .portfolio-experiment button:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 5px;
    background: #911C1A;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
  }
  .portfolio-experiment .line {
    position: absolute;
    background: #911C1A;
  }
  .portfolio-experiment .line.-right, .portfolio-experiment .line.-left {
    width: 5px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
  }
  .portfolio-experiment .line.-top, .portfolio-experiment .line.-bottom {
    height: 5px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
  }
  .portfolio-experiment .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
  }
  .portfolio-experiment .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
  }
  .portfolio-experiment .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
  }
  .portfolio-experiment .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
  }
  .portfolio-experiment button:hover .texte, .portfolio-experiment button:active .texte {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  .portfolio-experiment button:hover:after, .portfolio-experiment button:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
  }
  .portfolio-experiment button:hover .line, .portfolio-experiment button:active .line {
    transform: scale3d(1, 1, 1);
  }
  .portfolio-experiment button:hover .line.-right, .portfolio-experiment button:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
  }
  .portfolio-experiment button:hover .line.-top, .portfolio-experiment button:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
  }
  .portfolio-experiment button:hover .line.-left, .portfolio-experiment button:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
  }
  .portfolio-experiment button:hover .line.-bottom, .portfolio-experiment button:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
  }


@keyframes rotate {
    100% {
        transform: rotate(1turn);
   }
}
.rainbow {
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
}
.rainbow::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -473%;
    width: 200%;
    height: 1050%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#303030, #303030), linear-gradient(#c4b39c,#c4b39c),linear-gradient(#303030, #303030),  linear-gradient(#c4b39c, #c4b39c);
    animation: rotate 20s linear infinite;
}
.rainbow::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
}




/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                     TURTLESAVER.html                                                        #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */


   .arrow{
    background-image: url("../img/freeplay/arrow.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
       
   }
   .divtortue{
       grid-area: 4 / 4 / 22 / 22;
    }


    .divretourfree{
        grid-area: 22 / 1 / 25 / 4;
    }

    .modaltortuewin{
        grid-area: 8 / 10 / 18 / 16 ;
    }
    
    .modaltortueloose{
        grid-area: 8 / 10 / 18 / 16 ;
    }
    
    .modaltortueloosetime{
        grid-area: 8 / 10 / 18 / 16 ;
    }

    
    
    
    .modaltortueinfo{
        grid-area: 6 / 7 / 20 / 19 ;
    }
    
    .modalinfoparent {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
        
    .modalinfoparenttitre { grid-area: 1 / 4 / 3 / 10; }
    .modalinfoparentprofessor { grid-area: 3 / 1 / 12 / 6; }
    .modalinfoparentblabla { grid-area: 3 / 5 / 10 / 12; }
    .modalinfoparentbtn { grid-area: 11 / 8 / 13 / 12; }

    .professor{
        background-image: url("../img/characters/scientist/scientistLight.png" );
        background-size: contain;
        background-repeat: no-repeat;
        background-position : center;
    }
        

.modaltortuewin{
    display:none;
}

.modaltortueloose{
    display:none;
}
.modaltortueloosetime{
    display:none;
}
.modaltortueinfo{
    display: none;
}





/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                        MAZE.html                                                            #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */



.modalmazewin{
    display:none;
}

.modalmazeloose{
    display:none;
}

.modalmazeinfo{
    display:none;
}

.modalmazewin{
    grid-area: 8 / 10 / 18 / 16 ;
}

.modalmazeloose{
    grid-area: 8 / 10 / 18 / 16 ;
}

.modalmazeinfo{
    grid-area: 6 / 7 / 20 / 19 ;    
    
}




/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                        big head.html                                                        #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */



.modalbhwin{
    display:none;
}

.modalbhloose{
    display:none;
}

.modalbhinfo{
    display:none;
}

.modalbhwin{
    grid-area: 8 / 10 / 18 / 16 ;
}

.modalbhloose{
    grid-area: 8 / 10 / 18 / 16 ;
}

.modalbhinfo{
    grid-area: 6 / 7 / 20 / 19 ;    
    
}

/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                        cartes.html                                                          #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */

   .parentdelachance {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .contoursChance { grid-area: 1 / 1 / 21 / 21; }
    .titrechance { grid-area: 1 / 6 / 4 / 16; } 
    .cartesChanceChoix { grid-area: 4 / 2 / 15 / 20; }
    
    .validerChance { grid-area: 16 / 9 / 18 / 13; }


.card1-container, .card2-container, .card3-container, .card4-container, .card5-container {
    position: relative;
    height: 400px;
    width: 240px;
}
/*.card-container:hover .card {
    transform: rotateY(180deg);
}*/
.card1, .card2, .card3, .card4, .card5 {
    position: absolute;
    height: 100%;
    width: 100%;}

.faceCarte{
    background-image : url("../img/cartes/facecarte.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
    /*transition: all 0.3s ease;
    transform-style: preserve-3d;*/
}
.card1-front, .card2-front, .card3-front, .card4-front, .card5-front {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;

}
.card1-back, .card2-back, .card3-back, .card4-back, .card5-back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    /*transform: rotateY(-180deg);*/
    background-image : url("../img/cartes/doscarte.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

.cartesChanceChoix{
    display:flex;
    justify-content: space-between;
}

/*.cartesChanceChoix {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
  /*.cartes1ChanceChoix { grid-area: 3 / 1 / 15 / 5; }
    .cartes2ChanceChoix { grid-area: 3 / 6 / 15 / 10; }
    .cartes3ChanceChoix { grid-area: 3 / 11 / 15 / 15; }
    .cartes4ChanceChoix { grid-area: 3 / 16 / 15 / 20; }
    .cartes5ChanceChoix { grid-area: 3 / 21 / 15 / 25; } 

*/
.interieurCarteChance {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.interieurTitre { grid-area: 1 / 1 / 2 / 3; }
.interieurtexte { grid-area: 2 / 1 / 7 / 3; }

.interieurLogoArbre { 
    grid-area: 7 / 1 / 9 / 2; 
    background-image: url("../img/tree_planter/fini.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

.interieurLogoAbo { 
    grid-area: 7 / 1 / 9 / 2; 
    background-image: url("../img/logo/profilepictures/logo4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

.interieurLogoJauge { 
    grid-area: 7 / 1 / 9 / 2; 
    background-image: url("../img/mainPage/gauge/gauge5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}

.interieurNombre { grid-area: 7 / 2 / 9 / 3; } 




/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                        LAUNCH.html                                                          #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */

.divGlobalAccueil {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
} 
.nomDuJeuCarre{
    grid-area: 2 / 1 / 12 / 9;
}

.ChoixModeJeuColonne{
    grid-area: 2 / 9 / 12 / 19;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.AdventureColonne{
    grid-area: 5 / 5 / 7 / 15;
    border-radius:15px;
    padding: 14px;
    cursor: pointer;
    /*transform: rotateY(-25deg) rotateX(20deg);*/
    /*position: absolute;*/
    border-bottom: 4px solid rgba(0,0,0);
    border-right: 4px solid rgba(0,0,0);
    transition: 1.5s;
}
.AdventureColonne:hover{
    transform: scale(1.5);
    z-index:3;
}

.FreePlayColonne{
    grid-area: 7 / 5 / 9 / 15;
    border-radius:15px;
    padding: 14px;
    cursor: pointer;
    /*transform: rotateY(-25deg) rotateX(20deg);*/
    /*position: absolute;*/
    border-bottom: 4px solid rgba(0,0,0);
    border-right: 4px solid rgba(0,0,0);
    transition: 1.5s;
}
.FreePlayColonne:hover{
    transform: scale(1.5);
    z-index:3;
}

.ThirdModeColonne{
    grid-area: 9 / 5 / 11 / 15; 
    border-radius:15px;
    padding: 14px;
    cursor: pointer;
    /*transform: rotateY(-25deg) rotateX(20deg);*/
    /*position: absolute;*/
    border-bottom: 4px solid rgba(0,0,0);
    border-right: 4px solid rgba(0,0,0);
    transition: 1.5s;
}
.ThirdModeColonne:hover{
    transform: scale(1.5);
    z-index:3;
} 

.logoEN1{
    grid-area:1/1/6/4;
    background-image:url("../img/logo/logo.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.logoEN2{
    grid-area: 1/16/6/19;
    background-image:url("../img/logo/logo.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.nomDuJeu { grid-area: 2 / 4 / 5 / 16; 
}
.rainbow2 {
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
}
.rainbow2::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -473%;
    width: 200%;
    height: 1050%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#000,#000), linear-gradient(#ffffffff,#ffffffff),linear-gradient(#000,#000),  linear-gradient(#ffffffff,#ffffffff);
    animation: rotate 20s linear infinite;
}
.rainbow2::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: #c4b39c;
    border-radius: 5px;
}
.choixDuJeu { grid-area: 2 / 11 / 20 / 21; 
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(18, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.choiceMainAdventure {  grid-area: 6/1/11/7;  
    /*display: grid;
    grid-template-columns: 20% auto;*/
    border-radius:15px;
    padding: 14px;
    cursor: pointer;
    /*transform: rotateY(-25deg) rotateX(20deg);*/
    /*position: absolute;*/
    border-bottom: 4px solid rgba(0,0,0);
    border-right: 4px solid rgba(0,0,0);
    transition: 1.5s;
}
.choiceMainAdventure:hover{
    transform: translateY(-50%) translateX(50%) scale(1.5);
    z-index:3;
}



.choiceFreePlay { grid-area: 6 / 7 / 11 / 13;
    border-radius:15px;
    padding: 14px;
    cursor: pointer;
    /*transform: rotateY(-25deg) rotateX(20deg);*/
    /*position: absolute;*/
    border-bottom: 4px solid rgba(0,0,0);
    border-right: 4px solid rgba(0,0,0);
    transition: 1.5s;
}

.choiceFreePlay:hover{
    transform: translateY(-50%) scale(1.5);
    z-index:3;
}
.choiceThirdMode {  grid-area: 6 / 13 / 11 / 19;
    border-radius:15px;
    padding: 14px;
    cursor: pointer;
    /*transform: rotateY(-25deg) rotateX(20deg);*/
    /*position: absolute;*/
    border-bottom: 4px solid rgba(0,0,0);
    border-right: 4px solid rgba(0,0,0);
    transition: 1.5s;
}

.choiceThirdMode:hover{
    transform: translateY(-50%) translateX(-50%) scale(1.5);
    z-index:3;
}

    




  
  .bodylaunch{
    font-family: 'montserrat';
    display: grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
  }
  
  .bglaunch, .bglaunch2{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .bglaunch{
   -webkit-clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
  clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
    z-index: -1;
    background-color: #226dbc;
  }
  
  .bglaunch2{
    z-index: -2;
    background-color: #2a5f98;
    -webkit-clip-path: polygon(64% 100%, 100% 27%, 62% 67%, 4% 100%);
  clip-path: polygon(64% 100%, 100% 27%, 62% 67%, 4% 100%);
  }
  
  .containerlaunch{
    display: grid;
    grid-template-columns: 50% auto;
    height: auto;
    align-self: center;
    margin: 0 50px;
  }
  
  .ullaunch{
    perspective: 1000px;
  }
  

  .lilaunch{
    display: grid;
    grid-template-columns: 20% auto;
    border-radius:10px;
    padding: 14px;
    cursor: pointer;
    transform: rotateY(-25deg) rotateX(20deg);
    position: absolute;
    border-bottom: 4px solid rgba(0,0,0,.2);
    border-right: 4px solid rgba(0,0,0,.2);
   
    transition: 0.7s;
    
  }
  
  ul li:nth-child(1){
    color:#fff;
    background-color: #8063E1;
    background-image: linear-gradient(135deg, #010101, #8063E1);
    top: 512px;
    z-index: 2;
  }
  
  ul li:nth-child(2){
     background-color: #3F58E3;
     background-image: linear-gradient(135deg, #7F94FC, #3F58E3);
    z-index: 1;
    color:white;
  }
  
  ul li:nth-child(3){
    color:#fff;
    background-color: #352F64;
    background-image: linear-gradient(135deg, #660503, #352F64);
    top: 115px;
    z-index: 0;
    
  }
  
  ul li:hover{
    transform: translateY(50%)  rotateY(-25deg) rotateX(15deg) scale(1.5);
    z-index:3; 
    
    
  }
  img{
    width:70px;
  }
  
  .h1launch{
    font-size: 3em;
    margin-top: 0;
  }
  
  #left > p{
    color:grey;
    line-height: 1.5em;
  }
  
  







/* TRAME JEU*/


  .parentJeu {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

 /*contours */
 .div1Jeu { grid-area: 1 / 1 / 2 / 25; }
 .div2Jeu { grid-area: 1 / 1 / 25 / 2; }
 .div3Jeu { grid-area: 24 / 1 / 25 / 25; }
 .div4Jeu { grid-area: 1 / 24 / 25 / 25; }

 .div5Jeu { grid-area: 1 / 8 / 3 / 18; } 
    
 .div5Jeu h1{
     font-size: 65px;
 }
    
 
 .divretourhomeJeu{
    grid-area: 22 / 1 / 25 / 4;
}

.divJeu{
    grid-area: 4 / 4 / 22 / 22;
 }



 
/* #######################################################################################################################
   #######################################################################################################################
   #####                                                                                                             #####
   #####                                        fakenews.html                                                          #####
   #####                                                                                                             #####
   #######################################################################################################################
   ####################################################################################################################### */




.modalfakewin{
    grid-area: 8 / 10 / 18 / 16 ;
}

.modalfakeloose{
    grid-area: 8 / 10 / 18 / 16 ;
}

.modalfakeinfo{
    grid-area: 6 / 7 / 20 / 19 ;
}

.modalinfoparentfake {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.modalinfoparenttitrefake { grid-area: 1 / 4 / 3 / 10; }
.modalinfoparentprofessorfake { grid-area: 3 / 1 / 12 / 6; }
.modalinfoparentblablafake { grid-area: 3 / 6 / 10 / 12; }
.modalinfoparentbtnfake { grid-area: 11 / 7 / 13 / 11; }

.professorfake{
    background-image: url("../img/characters/scientist/scientistLight.png" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position : center;
}
    


.modalfakewin{
    display:none;
}

.modalfakeloose{
    display: none;
}

.modalfakeinfo{
    display:none;
}


.modalendtree{
    grid-area: 8 / 10 / 18 / 16 ;
}

#modalendtree{
    display:none,
}



.modalsuperwin{
    grid-area: 8 / 10 / 18 / 16 ;
}

.modalsuperinfo{
    grid-area: 6 / 7 / 20 / 19 ;
}

.modalsuperinfo{
    display: "none";
}

.modalsuperwin{
    display: "none";
}